# 0) Data Loading

In [1]:
# !pip install pandas        # To work with tables
# !pip install geopandas     # To make Maps 
# !pip install folium        # To make Maps
# !pip install scikit-learn  # To apply Machine Learning models and preprocessing methods
# !pip install warnings      # To suppress warnings

In [2]:
# Setting default param values
import pandas as pd
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [3]:
# Suppresing the future warnings
import warnings
warnings.simplefilter("ignore")

In [4]:
import pandas as pd

# Data files path
file1 = "../data/dft-road-casualty-statistics-casualty-2022.csv"
file2 = "../data/dft-road-casualty-statistics-collision-2022.csv"
file3 = "../data/dft-road-casualty-statistics-vehicle-2022.csv"

# Reading CSV files into DataFrames
df_casualty = pd.read_csv(file1)
df_collision = pd.read_csv(file2)
df_vehicle = pd.read_csv(file3)

In [5]:
# Printing column names of each DataFrame
print("Column names of 'dft-road-casualty-statistics-casualty-2022.csv':")
print(df_casualty.columns)
print("\nColumn names of 'dft-road-casualty-statistics-collision-2022.csv':")
print(df_collision.columns)
print("\nColumn names of 'dft-road-casualty-statistics-vehicle-2022.csv':")
print(df_vehicle.columns)

Column names of 'dft-road-casualty-statistics-casualty-2022.csv':
Index(['accident_index', 'accident_year', 'accident_reference',
       'vehicle_reference', 'casualty_reference', 'casualty_class',
       'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty',
       'casualty_severity', 'pedestrian_location', 'pedestrian_movement',
       'car_passenger', 'bus_or_coach_passenger',
       'pedestrian_road_maintenance_worker', 'casualty_type',
       'casualty_home_area_type', 'casualty_imd_decile', 'lsoa_of_casualty'],
      dtype='object')

Column names of 'dft-road-casualty-statistics-collision-2022.csv':
Index(['accident_index', 'accident_year', 'accident_reference',
       'location_easting_osgr', 'location_northing_osgr', 'longitude',
       'latitude', 'police_force', 'accident_severity', 'number_of_vehicles',
       'number_of_casualties', 'date', 'day_of_week', 'time',
       'local_authority_district', 'local_authority_ons_district',
       'local_authority_highway', 'first_road_class', 'first_road_number',
       'road_type', 'speed_limit', 'junction_detail', 'junction_control',
       'second_road_class', 'second_road_number',
       'pedestrian_crossing_human_control',
       'pedestrian_crossing_physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident',
       'trunk_road_flag', 'lsoa_of_accident_location'],
      dtype='object')

Column names of 'dft-road-casualty-statistics-vehicle-2022.csv':
Index(['accident_index', 'accident_year', 'accident_reference',
       'vehicle_reference', 'vehicle_type', 'towing_and_articulation',
       'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to',
       'vehicle_location_restricted_lane', 'junction_location',
       'skidding_and_overturning', 'hit_object_in_carriageway',
       'vehicle_leaving_carriageway', 'hit_object_off_carriageway',
       'first_point_of_impact', 'vehicle_left_hand_drive',
       'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver',
       'age_band_of_driver', 'engine_capacity_cc', 'propulsion_code',
       'age_of_vehicle', 'generic_make_model', 'driver_imd_decile',
       'driver_home_area_type', 'lsoa_of_driver'],
      dtype='object')

In [6]:
# Merging datasets on 'accident_index'
df_merged = pd.merge(df_casualty, df_collision, on='accident_index')
df_merged = pd.merge(df_merged, df_vehicle, on='accident_index')

print("Merged DataFrame:")
df_merged.head()

Merged DataFrame:

,accident_index,accident_year_x,accident_reference_x,vehicle_reference_x,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,accident_year_y,accident_reference_y,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,accident_year,accident_reference,vehicle_reference_y,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,first_point_of_impact,vehicle_left_hand_drive,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2022010352073,2022,10352073,2,1,1,1,17,4,3,0,0,0,0,0,3,1,1,E01001364,2022,10352073,525199.0,177928.0,-0.198224,51.486454,1,3,2,1,05/01/2022,4,16:40,-1,E09000013,E09000013,3,3218,6,30,6,4,6,0,0,0,4,1,1,0,0,1,1,2,E01001883,2022,10352073,1,19,0,9,3,8,0,1,0,0,0,0,1,2,2,1,48,8,1461,2,4,RENAULT KANGOO,7,1,E01002687
1,2022010352073,2022,10352073,2,1,1,1,17,4,3,0,0,0,0,0,3,1,1,E01001364,2022,10352073,525199.0,177928.0,-0.198224,51.486454,1,3,2,1,05/01/2022,4,16:40,-1,E09000013,E09000013,3,3218,6,30,6,4,6,0,0,0,4,1,1,0,0,1,1,2,E01001883,2022,10352073,2,3,0,18,1,5,0,1,0,0,0,0,1,1,2,1,17,4,125,1,1,HONDA FSH125,1,1,E01001364
2,2022010352573,2022,10352573,1,1,1,2,42,7,3,0,0,0,0,0,9,1,5,E01000338,2022,10352573,546214.0,179866.0,0.105042,51.498830,1,3,2,1,01/01/2022,7,01:17,-1,E09000011,E09000011,3,2016,3,50,6,2,6,0,0,4,4,1,1,0,0,2,1,2,E01033745,2022,10352573,1,9,0,18,7,3,0,6,0,0,1,1,1,1,6,2,42,7,-1,-1,-1,-1,5,1,E01000338
3,2022010352573,2022,10352573,1,1,1,2,42,7,3,0,0,0,0,0,9,1,5,E01000338,2022,10352573,546214.0,179866.0,0.105042,51.498830,1,3,2,1,01/01/2022,7,01:17,-1,E09000011,E09000011,3,2016,3,50,6,2,6,0,0,4,4,1,1,0,0,2,1,2,E01033745,2022,10352573,2,9,0,13,7,3,0,6,0,0,0,0,1,1,6,3,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,2022010352575,2022,10352575,1,1,1,1,20,4,3,0,0,0,0,0,9,1,8,E01000390,2022,10352575,551119.0,174789.0,0.173482,51.451924,1,3,2,1,01/01/2022,7,01:15,-1,E09000004,E09000004,3,207,6,30,9,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000378,2022,10352575,1,9,0,18,4,8,0,2,0,0,0,0,1,1,6,1,20,4,1896,2,15,VOLKSWAGEN GOLF,8,1,E01000390

In [7]:
df_merged.shape

(168884, 81)

# 1) Basic Data Preparation

In [8]:
# Dropping columns with only one unique value
constant_columns = [col for col in df_merged.columns if df_merged[col].nunique() == 1]
df_merged = df_merged.drop(columns=constant_columns)

In [9]:
# Columns with suffixes '_y'
columns_to_drop = [col for col in df_merged.columns if col.endswith('_y')]

# Dropping all columns with suffixes _y
df_merged.drop(columns=columns_to_drop, inplace=True)

In [10]:
# Checking Nulls
temp = df_merged.isnull().sum()
temp[temp>0]

location_easting_osgr     34
location_northing_osgr    34
longitude                 34
latitude                  34
dtype: int64

In [11]:
# Dropping NAN
df_merged.dropna(inplace=True)

In [12]:
# Setting date columns format
df_merged['date'] = pd.to_datetime(df_merged['date'], format='mixed')
df_merged['time'] = pd.to_datetime(df_merged['time'], format='%H:%M').dt.time

In [13]:
# Columns not to encode
special_columns = ["hit_object_off_carriageway", "skidding_and_overturning", "hit_object_in_carriageway", 
 "accident_reference", "special_conditions_at_site", "carriageway_hazards", "speed_limit",
"first_road_number", "accident_index", "casualty_reference"]

# Getting Mapper data 
df_guide = pd.read_excel("../data/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2023.xlsx", sheet_name="Sheet1")[['field name', 'code/format', 'label']]
temp = df_guide["field name"].value_counts()
temp = temp[temp>2]
temp = temp[temp<100]
temp = temp.drop(special_columns)
temp

field name
police_force                                    53
vehicle_type                                    31
casualty_type                                   31
vehicle_manoeuvre                               20
vehicle_location_restricted_lane                13
propulsion_code                                 13
injury_based_severity_code                      12
age_band_of_driver                              12
pedestrian_location                             12
age_band_of_casualty                            12
driver_imd_decile                               11
vehicle_direction_from                          11
vehicle_direction_to                            11
vehicle_leaving_carriageway                     11
junction_detail                                 11
junction_location                               11
pedestrian_movement                             11
casualty_imd_decile                             11
weather_conditions                              10
second_road_class                                9
road_surface_conditions                          9
journey_purpose_of_driver                        8
pedestrian_crossing_physical_facilities          8
towing_and_articulation                          8
road_type                                        8
bus_or_coach_passenger                           7
first_point_of_impact                            7
junction_control                                 7
first_road_class                                 7
day_of_week                                      7
light_conditions                                 6
car_passenger                                    5
pedestrian_road_maintenance_worker               5
accident_year                                    5
pedestrian_crossing_human_control                5
sex_of_driver                                    4
vehicle_left_hand_drive                          4
driver_home_area_type                            4
casualty_home_area_type                          4
injury_based                                     4
sex_of_casualty                                  4
collision_index                                  4
collision_year                                   4
collision_reference                              4
did_police_officer_attend_scene_of_accident      4
did_police_officer_attend_scene_of_collision     4
urban_or_rural_area                              4
vehicle_reference                                4
legacy_collision_severity                        3
accident_severity                                3
casualty_severity                                3
casualty_class                                   3
second_road_number                               3
trunk_road_flag                                  3
Name: count, dtype: int64

In [14]:
# Encoding Columns values
for column in temp.index:
    if column in df_merged.columns:
        mapper_data = df_guide[df_guide["field name"] == column][['code/format', 'label']].set_index('code/format')
        mapper = mapper_data["label"].to_dict()
        df_merged[column] = df_merged[column].map(mapper)

# 2) Exploratory Data Analysis (EDA)
## 2.1) Basic Exploration

In [15]:
# Analyze general statistics
print("Statistics of the Numerical Columns:")
display(df_merged.describe())

print("Statistics of the Categorical Columns:")
display(df_merged.describe(include='O'))

Statistics of the Numerical Columns:

,vehicle_reference_x,casualty_reference,age_of_casualty,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,first_road_number,speed_limit,special_conditions_at_site,carriageway_hazards,skidding_and_overturning,hit_object_in_carriageway,hit_object_off_carriageway,age_of_driver,engine_capacity_cc,age_of_vehicle
count,168850.000000,168850.000000,168850.000000,168850.000000,1.688500e+05,168850.000000,168850.000000,168850.000000,168850.000000,168850,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000,168850.000000
mean,1.523115,1.405218,36.943192,445930.014480,2.746096e+05,-1.331310,52.360069,2.177187,1.765496,2022-06-30 04:29:38.828546048,867.145869,36.482795,0.284371,0.221072,1.107000,10.156056,10.054622,34.765342,1440.783388,6.671720
min,1.000000,1.000000,-1.000000,79266.000000,1.050200e+04,-7.353562,49.914329,1.000000,1.000000,2022-01-01 00:00:00,0.000000,20.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,1.000000,23.000000,391403.000000,1.803640e+05,-2.126876,51.509026,2.000000,1.000000,2022-03-31 00:00:00,0.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,125.000000,1.000000
50%,1.000000,1.000000,34.000000,446194.000000,2.626725e+05,-1.304308,52.255314,2.000000,1.000000,2022-06-30 00:00:00,47.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.000000,1399.000000,6.000000
75%,2.000000,2.000000,50.000000,527851.000000,3.702560e+05,-0.152710,53.222521,2.000000,2.000000,2022-09-29 00:00:00,605.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,1968.000000,11.000000
max,227.000000,999.000000,101.000000,655345.000000,1.172667e+06,1.759829,60.435892,13.000000,16.000000,2022-12-31 00:00:00,9176.000000,70.000000,9.000000,9.000000,9.000000,99.000000,99.000000,99.000000,24200.000000,122.000000
std,0.911211,2.588151,19.196742,91196.213574,1.227035e+05,1.326455,1.106439,0.911603,1.327262,NaN,1656.355017,14.646484,1.447434,1.300745,2.752647,29.453987,29.176825,21.270577,1566.520328,6.361259

Statistics of the Categorical Columns:

,accident_index,accident_reference_x,casualty_class,sex_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,police_force,accident_severity,day_of_week,time,local_authority_ons_district,local_authority_highway,first_road_class,road_type,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,accident_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,junction_location,vehicle_leaving_carriageway,first_point_of_impact,vehicle_left_hand_drive,journey_purpose_of_driver,sex_of_driver,age_band_of_driver,propulsion_code,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
count,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,77337,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850,168850
unique,70458,70458,3,4,12,3,12,10,5,7,4,23,4,11,23269,34,3,7,1439,267,164,6,6,10,6,8,1,5,8,5,9,7,2,3,3,18165,70458,22,8,20,11,11,12,11,11,7,3,6,3,12,9,701,11,4,25801
top,2022010392491,10392491,Driver or rider,Male,26 - 35,Slight,Not a Pedestrian,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area,More deprived 10-20%,-1,Metropolitan Police,Slight,Friday,17:00:00,E08000025,E08000025,A,Single carriageway,Not at junction or within 20 metres,Give way or uncontrolled,Unclassified,first_road_class is C or Unclassified. These r...,None within 50 metres,No physical crossing facilities within 50 metres,Daylight,Fine no high winds,Dry,Urban,Yes,Non-trunk,-1,10392491,Car,No tow/articulation,Going ahead other,North,North,On main c'way - not in restricted lane,Not at or within 20 metres of junction,Did not leave carriageway,Front,No,Not known,Male,26 - 35,Petrol,-1,Data missing or out of range,Urban area,-1
freq,84,84,120336,104234,37134,137612,154596,154596,138516,166749,166568,95533,124548,21247,19722,50561,127686,28826,1469,6178,6178,82577,119178,65816,75695,70899,77337,158096,126302,119219,137351,125098,113048,124008,146117,2279,84,119658,161589,76622,24077,23206,145439,65829,131887,85437,155840,100167,104163,34780,70250,35915,33338,108958,35532

### Insights from Statistical Properties

#### Numerical Columns

1. **vehicle_reference_x**:
   - **Mean**: ~1.52
   - **Std. Dev.**: ~0.91
   - Indicates that most accidents involve one vehicle, but there are incidents with multiple vehicles (up to 227 vehicles in one accident).

2. **casualty_reference**:
   - **Mean**: ~1.41
   - **Std. Dev.**: ~2.59
   - Indicates that some accidents involve multiple casualties, with a maximum of 999 casualties in one accident.

3. **age_of_casualty**:
   - **Mean**: ~36.94 years
   - **Std. Dev.**: ~19.20 years
   - Casualties range from very young to very old, with a maximum age of 101.

4. **location_easting_osgr and location_northing_osgr**:
   - **Mean**: ~445930 (easting), ~274609 (northing)
   - **Std. Dev.**: ~91196 (easting), ~122703 (northing)
   - These coordinates indicate the spread of accident locations across the UK.

5. **longitude and latitude**:
   - **Mean**: ~-1.33 (longitude), ~52.36 (latitude)
   - **Std. Dev.**: ~1.33 (longitude), ~1.11 (latitude)
   - These values correspond to locations within the UK.

6. **number_of_vehicles and number_of_casualties**:
   - **Mean**: ~2.18 (vehicles), ~1.77 (casualties)
   - **Std. Dev.**: ~0.91 (vehicles), ~1.33 (casualties)
   - Shows that most accidents involve around 2 vehicles and have around 1-2 casualties.

7. **date**:
   - The mean date is around mid-2022, covering the full year.
   - Accidents are evenly distributed throughout the year.

8. **first_road_number**:
   - **Mean**: ~867
   - **Std. Dev.**: ~1656
   - Road numbers vary widely, indicating accidents occur on many different roads.

9. **speed_limit**:
   - **Mean**: ~36.48 mph
   - **Std. Dev.**: ~14.65 mph
   - Indicates a range of speed limits, with some locations having very high speed limits (up to 70 mph).

10. **age_of_driver**:
    - **Mean**: ~34.77 years
    - **Std. Dev.**: ~21.27 years
    - The average age of drivers involved in accidents, with a wide range from young to elderly drivers.

11. **engine_capacity_cc**:
    - **Mean**: ~1440.78 cc
    - **Std. Dev.**: ~1566.52 cc
    - Indicates a wide range of vehicle engine capacities.

12. **age_of_vehicle**:
    - **Mean**: ~6.67 years
    - **Std. Dev.**: ~6.36 years
    - The age of vehicles involved in accidents varies widely.

#### Categorical Columns

1. **accident_severity**:
   - Most accidents are classified as "Slight", followed by "Serious" and "Fatal".

2. **day_of_week**:
   - Friday is the most common day for accidents, indicating a higher frequency towards the end of the workweek.

3. **time**:
   - The most common time for accidents is around 17:00 (5 PM), suggesting a peak during the evening rush hour.

4. **weather_conditions**:
   - "Fine no high winds" is the most common weather condition, followed by "Raining no high winds", "Snowing no high winds", and "Unknown".

5. **road_surface_conditions**:
   - "Dry" is the most common road surface condition, followed by "Wet/damp".

6. **urban_or_rural_area**:
   - Most accidents occur in urban areas compared to rural areas.

7. **did_police_officer_attend_scene_of_accident**:
   - Police attended the scene in most cases.

8. **vehicle_type**:
   - Cars are thoundation for further analysis, enabling targeted investigation into the factors contributing to road accidents in the UK.ather conditions, and the effectiveness of junction controls on accident rates and severities.

## 2.2) To analyse the impact of speed limits on the frequency and severity of accidents

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt

# Filter data for relevant columns
relevant_columns = ['road_type', 'speed_limit', 'accident_severity', 'number_of_vehicles']
df_filtered = df_merged[relevant_columns]

In [17]:
# Calculate accident rates and severities by road type and speed limit
accident_stats = df_filtered.groupby(['road_type', 'speed_limit', 'accident_severity']).size().unstack(fill_value=0)
accident_stats['Total_Accidents'] = accident_stats.sum(axis=1)
accident_stats['Severe_Accidents'] = accident_stats['Serious'] + accident_stats['Fatal']

# Display the calculated statistics
print("Accident Statistics by Road Type and Speed Limit:")
accident_stats

Accident Statistics by Road Type and Speed Limit:

accident_severity               Fatal  Serious  Slight  Total_Accidents  \
road_type          speed_limit
Dual carriageway   20               5      403    1897             2305
                   30              84     1366    6856             8306
                   40              97     1126    4114             5337
                   50              68      588    2346             3002
                   60              22      290     686              998
                   70             445     2204    5874             8523
One way street     20              17      339    2091             2447
                   30               6      270    1516             1792
                   40               0        3      30               33
                   50               0        1       5                6
                   60               0        6       6               12
Roundabout         20               2      111    1032             1145
                   30              11      811    4613             5435
                   40               3      229    1092             1324
                   50               9       98     326              433
                   60               5       99     548              652
                   70               4       32     167              203
Single carriageway 20              84     3547   16010            19641
                   30             633    14609   50856            66098
                   40             197     2236    5218             7651
                   50             305     1890    2952             5147
                   60            1220     6795   12594            20609
                   70               1        5      26               32
Slip road          20               0       85     563              648
                   30               4      160     848             1012
                   40               1       32     214              247
                   50               4       42     170              216
                   60              11       29     160              200
                   70              43      131     468              642
Unknown            20               1      119    2193             2313
                   30               0      183    1951             2134
                   40               0       18      80               98
                   50               0        0      45               45
                   60               0       12      84               96
                   70               0       13      55               68

accident_severity               Severe_Accidents
road_type          speed_limit
Dual carriageway   20                        408
                   30                       1450
                   40                       1223
                   50                        656
                   60                        312
                   70                       2649
One way street     20                        356
                   30                        276
                   40                          3
                   50                          1
                   60                          6
Roundabout         20                        113
                   30                        822
                   40                        232
                   50                        107
                   60                        104
                   70                         36
Single carriageway 20                       3631
                   30                      15242
                   40                       2433
                   50                       2195
                   60                       8015
                   70                          6
Slip road          20                         85
                   30                        164
                   40                         33
                   50                         46
                   60                         40
                   70                        174
Unknown            20                        120
                   30                        183
                   40                         18
                   50                          0
                   60                         12
                   70                         13

### Interpretation of Accident Statistics by Road Type and Speed Limit

The table summarizes the number of accidents categorized by severity (`Fatal`, `Serious`, and `Slight`) for different road types and speed limits. Additionally, it includes the total number of accidents (`Total_Accidents`) and the sum of severe accidents (`Severe_Accidents`, which includes both `Fatal` and `Serious` accidents).

#### Key Insights

1. **Dual Carriageway**:
   - **Speed Limit 70 mph**: The highest number of accidents (8,523) occurs at 70 mph, with a significant proportion being severe (2,649).
   - **Lower Speed Limits**: Accidents decrease with lower speed limits, but severe accidents remain notable even at 20 mph (408 out of 2,305 accidents).

2. **One Way Street**:
   - **Speed Limit 20 mph**: A considerable number of accidents (2,447) occur at this speed, with a severe accident rate of 356.
   - **Speed Limit 30 mph**: Fewer accidents (1,792) with a lower severe accident rate (276) compared to 20 mph.
   - **Higher Speed Limits**: Very few accidents occur, indicating better safety or less frequent use at higher speeds.

3. **Roundabout**:
   - **Speed Limit 30 mph**: The highest number of accidents (5,435) and severe accidents (822) occur at this speed limit.
   - **Speed Limit 20 mph**: Fewer accidents (1,145) with a lower severe accident rate (113).
   - **Higher Speed Limits**: Accidents decrease, but severe accidents remain proportionally significant.

4. **Single Carriageway**:
   - **Speed Limit 30 mph**: The highest number of accidents (66,098) with a substantial severe accident rate (15,242).
   - **Speed Limit 60 mph**: High number of accidents (20,609) with a significant severe accident rate (8,015), indicating high risk at higher speeds.
   - **Lower Speed Limits**: Fewer accidents, but severe accidents still notable, especially at 20 mph (3,631).

5. **Slip Road**:
   - **Speed Limit 30 mph**: Moderate number of accidents (1,012) with a severe accident rate of 164.
   - **Speed Limit 70 mph**: Higher number of accidents (642) with a severe accident rate of 174.
   - **Lower Speed Limits**: Fewer accidents and severe accidents.

6. **Unknown Road Type**:
   - **Speed Limit 30 mph**: Notable number of accidents (2,134) with a severe accident rate of 183.
   - **Speed Limit 20 mph**: Fewer accidents (2,313) with a severe accident rate of 120.
   - **Higher Speed Limits**: Very few accidents, indicating less fps to understand how different speed limits are associated with the rate of severe accidents across various road types.